<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the admin page</h1>

    <% users.forEach(function(user) { %>
        <li>
            <a href="/admin/<%= user._id %>">
                <%= user.username %>                
            </a>
        </li>
    <% }) %>
</body>
</html>