<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        User information for <%= user.username %>
    </h1>
    <a href="/admin/<%= user._id %>/edit">Edit</a>
    <form action="/admin/<%= user._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>