*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root */

:root {
  --color-primary-light: #6772e5;
  --color-primary: #4050fb;
  --color-primary-dark: #2737e2;
  --color-black-1: #333333;
  --color-black-2: #2a2b35;
  --color-grey-light: #ebebeb;
  --color-grey-dark: #a8a8a8;
}

html {
  font-size: 62.5%;
}

#dashboard {
  /* 1 rem = 10px */
  line-height: 35px;
  scroll-behavior: smooth;
  /* This defines what size our webpage is. */
  scroll-behavior: smooth;
  padding: 6em;
  padding-top: 1em;
  background-image: url(../../assets/img/misc/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 35px;
  color: var(--color-black-1);
}

#dashboardContainer {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
}

ul {
  list-style: inside;
}

.heading-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7em;
  font-weight: 500;
  line-height: 35px;
  color: #464457;
  margin-bottom: 20px;
}

.heading-secondary {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: #5d78ff;
  font-weight: 600;
  line-height: 35px;
}

.heading-tertiary {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 35px;
  color: #3f3f3f;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid black;
}

td:not(:last-of-type),
th:not(:last-of-type) {
  border-right: 1px solid black;
}

th,
td {
  padding: 1.5em;
  text-align: center;
  width: 20em;
}

td {
  padding: 1.5em 3.5em;
}

section {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05),
    -5px -5px 15px rgba(0, 0, 0, 0.05);
}

.alert {
  padding: 5px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.button {
  background-color: #3042e6;
  /* Green */
  border: none;
  color: white;
  padding: 0.6em 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s;
  border-radius: 5px;
}

.button:hover {
  background-color: #0018f2;
}

.button:active {
  background-color: #0018f2;
}

.button.lockedIn {
  background-color: gray !important;
}

.copyText {
  font-style: italic;
  color: #5d78ff;
}

.crypto_icon {
  display: inline-block;
  margin-right: 5px;
  height: 20px;
}

i {
  font-size: 25px;
  padding-right: 10px;
}

.customNavbar {
  top: 0;
  width: 91%;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 20px;
}

.navbarContainer {
  padding-bottom: 10.4em;
}

.dashboardBar {
  padding: 20px 40px 20px 40px;
  margin-bottom: 40px;
}

.logged-in-name {
  position: absolute;
  left: 0rem;
  top: 6.5em;
}

.fas {
  line-height: 1.35;
  font-size: 5rem;
}

.green {
  color: #84c0a3;
}

.yellow {
  color: #ffd500;
}

.customContainer {
  width: 100%;
}

.customAlert {
  padding: 5px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.customAlert.customAlert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.customAlert.customAlert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.customAlert.customAlert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.countdown.dashboard-countdown {
  border-bottom: 1px solid rgba(34, 136, 34, 0.533);
  border-top: 1px solid rgba(34, 136, 34, 0.533);
  max-width: 680px;
  padding-bottom: 4px;
  padding-top: 4px;
  min-width: 340px;
  flex-grow: 1;
}

.countdown {
  font-size: 5.3125em;
  line-height: 1em;
  font-weight: 600;
}
.countdown .countdown-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.countdown .countdown-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.countdown .countdown-sep {
  margin-top: -0.35em;
}
.countdown .countdown-amount {
  letter-spacing: -0.05em;
  line-height: 1em;
}
.countdown .countdown-period {
  margin-top: 0.5em;
  font-size: 0.1764705882em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.5;
}
.countdown.light {
  color: #fff;
}
.countdown.primary {
  color: var(--color-primary);
}
.countdown.primary .countdown-period {
  color: #fff;
}
.countdown.countdown-sep-off .countdown-sep {
  display: none;
}

.button-dead {
  background-color: #eeeeee !important;
  color: #aaaab6 !important;
  cursor: pointer;
}

.headerFont {
  font-size: inherit;
  font-weight: inherit;
}

.lineHeightWeightInherit {
  line-height: inherit;
}

.fw-500 {
  font-weight: 500;
}

@media only screen and (min-width: 640px) {
  .customContainer {
    max-width: 640px;
  }
}

@media only screen and (min-width: 768px) {
  .customContainer {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1024px) {
  .customContainer {
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1280px) {
  .customContainer {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    left: 0;
  }
  .logged-in-name {
    left: 0rem;
    top: 6.5em;
  }
}

@media only screen and (max-width: 1024px) {
  #dashboard {
    padding: 0;
    padding-top: 8em;
  }
}

@media only screen and (max-width: 767px) {
  #dashboard {
    font-size: 56.25%;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 575px) {
  #dashboard {
    font-size: 50%;
  }
}
