<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/tailwind.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
</head>

<body onload="startTime()">
    <div class="absolute" style="margin-top: -35px;">
      <a class="mx-4 px-8 font-bold" style="color: white; opacity: .8" href="/dashboard">DASHBOARD</a>
      <a class="mx-4 px-8 py-4 font-bold bg-white" style="color: #716ACA " href="/kyc">KYC REGISTRATION</a>
    </div>
    <div class="navbar absolute text-white flex flex-wrap pt-8" style="">
      <a href="/">
        <img src="../assets/img/logo/logo_dashboard.png" alt="">
      </a>
      <div class="logged-in-name" style="">
        <div>
          Logged in as <span id="username"><%= username %></span> | <a href="/logout">Log out</a>
        </div>
    
      </div>
    </div>
    
    <div class="mb-40 py-8 px-16 bg-gray-100 flex flex-wrap" style="border-radius: 5px">
      <h3 class="heading-tertiary" style="font-weight: 500">
        Dashboard
      </h3>
      <div class="ml-auto px-8 flex flex-wrap" style="background-color: #E1E3EC">
        <h3>
    
        </h3>
        <h3 class="heading-tertiary" style="color: #716ACA">
          Official Time:&nbsp;
        </h3>
        <span id="official-time" style="color: #716ACA"></span>
      </div>
    </div>
    
    <!-- Token Sale Application -->
    <section id="application" class="container mx-auto px-16 py-12 mb-16">
      <h1 class="heading-primary mb-8">KYC Registration</h1>
        <div class="flex flex-wrap w-full md:w-1/2 mx-auto mb-8">
        </div>

        <div class="text-center mb-16">
            <h2 class="heading-secondary">
                    In order to purchase Mining Coin, you’ll need to complete a quick KYC (Know Your Customer) process. To complete your registration for the token sale, please click the link below.
            </h2>
            <p style="color: #5D78FF">
                    We take your data security seriously. That’s why we use the same automated, SSL-encrypted KYC provider used by major financial instutions and cryptocurrency exchanges.
            </p>
        </div>
    
      <div class="w-full md:w-2/3 mx-auto">
        <h3 class="heading-tertiary">
          Instructions before you start:
        </h3>
        <ul>
          <li><span class="font-bold">Have your Photo ID ready</span> (drivers license, passport, etc)</li>
          <li><span class="font-bold">Find a well-lit space.</span> The facial recognition check will require your
            camera.</li>
        </ul>
    
        <div class="flex flex-wrap px-8 md:px-24 mb-16">
          <div class="w-1/2">
            <h3 class="heading-tertiary">
              PC or Mac:
            </h3>
            <p>
              Make sure your webcam is enabled
            </p>
          </div>
          <div class="w-1/2">
            <h3 class="heading-tertiary">
              Mobile:
            </h3>
            <p>
              You can use your device’s camera
            </p>
          </div>
        </div>
    
        <div
          class="mb-16 px-8 py-6 border-solid border-2 rounded-lg border-gray-500 shadow-lg flex flex-wrap content-center">
          <style>
            .signup_icomply>a>h2 {
              transition: all .2s;
            }
    
            .signup_icomply>a>h2:hover {
              color: #14227A;
            }
          </style>
          <form action="">

          </form>
            <button id="registration-btn" class="signup_icomply text-center py-8 mx-auto">
                <h2 class="heading-secondary">
                  Begin KYC Registration
                </h2>
            </button>

    
        </div>
    
        <p>
          Processing may take up to 5-10 minutes. Please refresh your page to check on your registration progress.
        </p>
      </div>
    </section>

    <section id="kyc_iframe" class="hidden container mx-auto px-16 py-12 mb-16" style="height: 90vh">
      <h1 class="heading-primary mb-8">KYC Registration</h1>
      <iframe class="mx-auto" src="<%= redirectUrl %>" frameborder="0" height="90%" width="80%" allow="camera"></iframe>
    </section>

    <div class="py-4">
      &nbsp;
    </div>

<script>
  document.getElementById('registration-btn').addEventListener('click', function() {
    document.getElementById('kyc_iframe').classList.toggle('hidden')
    document.getElementById('application').classList.toggle('hidden')
  })
</script>

    <script src="../assets/js/dashboard.js"></script>
</body>

</html>